{% assign education = site.data.education.education %}
{% assign education_l = site.translations[site.lang].education %}
{% if education %}
<section class="education">
    <div class="title">Education</div>
    {% for ed in education %}
        {% assign ed_l = education_l[ed.id] %}
        <div class="education-item">
                <div class="degree">
                {% if ed.link %}
                    <a href="{{ed.link}}">
                {% endif %}
                {{ed.degree}}
                </div>
            </a>
            <div class="university">{{ed.university}}</div> 
            <div class="time">
        {% if ed.time.start %}
            {{ed.time.start | date: "%Y"}} - 
        {% endif %}
            {{ed.time.end |   date: "%Y"}}</div>
        <div class="details">{{ ed_l.details }}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
