{% assign education = site.data.education %}
{% assign title = education.title[site.lang] %}
{% assign list = education.list %}

{% if list %}
<section class="education">
  <div class="title">{{title}}</div>
    {% for education in list %}
        {% assign degree = education.degree %}
        {% assign details = education.details[site.lang] %}
        {% assign university = education.university %}
        {% assign time = education.time %}
        {% assign link = education.link %}
        <div class="education-item">
                <div class="degree">
                {% if link %} <a href="{{link}}"> {% endif %}
                {{degree}}
                </div>
            </a>
            <div class="university">{{university}}

              <div class="time">
                {{time.start | date: "%Y"}} - {{time.end |   date: "%Y"}}
              </div>
            </div>
        <div class="details">{{ details }}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
