{% assign education = site.data.education.education %}
{% if education %}
<section class="education">
    <div class="title">Education</div>
    {% for ed in education %}
        <div class="education-item">
        {% if ed.link %}
            <a href="{{ed.link}}">
                <div class="degree">
                    {{ed.degree}}
                </div>
            </a>
        {% else %}
            <div class="degree">
                {{ed.degree}}
            </div>
        {% endif %}
            <div class="university">{{ed.university}}</div> 

        {% if ed.time.start %}
            <div class="time">{{ed.time.start | date: "%Y"}} - 
                              {{ed.time.end | date: "%Y"}}</div>
        {% else %}
            <div class="time">{{ed.time.end | date: "%Y"}}</div>
        {% endif %}
            <div class="details">{{ed.details}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
