{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                <a href={{exp.company.link}} class="company">
                    {{exp.company.text}} 
                </a>
                <span class="time">
                    {{exp.time.start | date: "%b %Y"}} -
                    {{exp.time.end   | date: "%b %Y"}}
                </span>
            </div> 
            <div class="details">{{exp.details}}</div>
            {% if exp.technologies_used %}
                <p class="technologies">Technologies Used: {{exp.technologies_used}}</p>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endif %}
