{% assign projects = site.data.projects.projects %}
{% assign projects_l = site.translations[site.lang].projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">{{ projects_l.title }}</h2>
    {% for p in projects %}
    {% assign p_l = projects_l[p.id] %}
        <div class="project">
            <span>
                <a class="project-link" href="{{p.link}}">
                    {{p.title}}
                </a>
            </span>
            <span class="details">- {{projects_l[p.id].details}}</span>
            </br>
            <span class="details">({{p.language}})</span>
        </div>
    {% endfor %}
</section>
{% endif %}
