{% assign projects = site.data.projects.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projets</h2>
    {% for p in projects %}
        <div class="project">
            <span>
                <a class="project-link" href="{{p.link}}">
                    {{p.title}}
                </a>
            </span>
            <span class="details">- {{p.details}}</span>
            </br>
            <span class="details">({{p.language}})</span>
        </div>
    {% endfor %}
</section>
{% endif %}
