{% assign translation = site.data.side.translation %}
{% if translation %} 
<section class="translations">
    <div>
        <div class="title">{{ translation[site.lang].sentence }}: </div>
        {% for lang in site.languages %}
        {% if lang != site.lang %}
            {% capture link %}{{
            site.baseurl_root }}{%
            if lang != site.languages[0] %}/{{lang}}{% endif %}{{
            page.url}}{%endcapture %}
            <div class="lang-item">
                <span class ="flag-icon flag-icon-{{translation[lang].icon_id}}"></span>
                <a href="{{link}}">
                    {{translation[lang].label}}
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}
